.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#logoTitle_and_navbar { background-color: red; }

#logo_and_title { 
    max-height: 300px;
    line-height: 125px;
}

#title { 
    background-color: pink;
    font-family: "Arial Black", sans-serif;
    font-size: 72px;
    font-style: italic;
    text-decoration: underline;
    max-height: 300px;
}

#logo {
    background-color: green;
    line-height: 300px;
}

#navbar { line-height: 40px; }

#playButton {
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#playButton:hover { background-color: rgba(255, 0, 0, 1); }

#playButton:active { 
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6); 
}

p {
    border: 6px black dashed;
    border-radius: 20px;
    background-color: purple;
}